
<div class="users-with-action-table-container rounded-box">
    <table>

        <thead>
            <tr class="table-header-row">
                <th class="table-header-first-column">USER</th>
                <th>DATE</th>
                <th *ngIf="actionLabel"></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users" class="user-row">

                <td class="user-column" (click)="navigateToProfile(user.targetUserId)">
                    <div class="user-avatar-container">
                        <div class="rounded-circle-container">
                            <img [src]="getFirebasePictureUrl(user.profilePicId)" class="rounded-circle-image">
                        </div>
                    </div>
                    <div class="user-details">
                        <div class="user-details-name">{{user.firstName}} {{user.lastName}}</div>
                        <div class="user-details-username">@{{user.username}}</div>
                    </div>
                </td>

                <td>{{formatDate(user.date, 'dd-MM-YYYY HH:mm', 'en-US')}}</td>

                <td class="action-column" *ngIf="actionLabel">
                    <button class="custom-button cancel-button" (click)="onActionClick(user.targetUserId)">{{actionLabel}}</button>
                </td>

            </tr>
        </tbody>

    </table>
</div>