.first-profile-filling-page {
	display: flex;
	flex-direction: column;
	height: calc(100% - 4px) !important;
}

.first-profile-filling-subpage {
	display: flex;
	flex-direction: column;
	max-width: 800px;
}

h1 {
	font-size: 4vh;
	font-weight: 600;
	margin-bottom: 20px;
}

h2 {
	font-size: 3vh;
	font-weight: 400;
}

textarea {
	margin-top: 10px;
	height: 20vh !important;
}
