.dialog {
    padding: 10px 20px;
    background-color: var(--secondary-background-color);
}

.dialog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}

.dialog-subtitle {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.go-back-arrow {
    cursor: pointer;
}
