.dialog {
    padding: 10px 20px;
}

.dialog-title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-group {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.dialog-button {
    cursor: pointer;
    border: solid white;
    border-radius: 7px;
    padding: 9px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    background-color: white;
    color: var(--primary-text-color);
}

.dialog-button:hover {
    background-color: var(--primary-lighter-color);
}

.submit-button {
    background-color: var(--primary-color);
    color: white;
}

.submit-button:hover {
    background-color: var(--primary-color);
}

.cancel-button {
    background-color: white;
    color: var(--primary-text-color);
}
