@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');


html[color-theme='dark'] {
	--primary-text-color: #f3eeee;
	--opposite-text-color: #272628;
	--background-color: #252626;
	--secondary-background-color: rgb(58, 53, 59);

	--primary-color: #9798ec;
	--primary-medium-color: #a0a2e7;
	--primary-light-color: #030304;
	--primary-lighter-color: #8b7ca3;
	--primary-light-text-color: white;
	
	--secondary-color: #3fc3ba;
	--secondary-lighter-color: #e3f5f4;
	--secondary-text-color: #bbb6b6;

	--error-color: #D74242;  /* rgb(182, 75, 75) */
	--success-color: #418945; /* rgb(79, 150, 79) */;
}

:root {
	--primary-text-color: #000000;
	--opposite-text-color: #f3eeee;
	--background-color: #f7f7ff;
	--secondary-background-color: white;

	--primary-color: #5D5FEF;
	--primary-medium-color: #b9bafa;
	--primary-light-color: #dfe0fa;
	--primary-lighter-color: #f2edfa;
	--primary-light-text-color: white;
	
	--secondary-color: #3fc3ba;
	--secondary-lighter-color: #e3f5f4;
	--secondary-text-color: #8f90ad;

	--error-color: #D74242;
	--success-color: #418945;
}

body {
    font-family: 'Raleway', sans-serif !important;
	line-height: normal !important;
	color: var(--primary-text-color);
}

a {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: underline;
}

h3 {
	text-align: center;
	font-weight: 500;
}

.error-snackbar {
	color: white;
	--mdc-snackbar-container-color: var(--error-color)/* rgb(156, 63, 63) */;
	--mat-mdc-snack-bar-button-color: var(--primary-text-color);
}

.success-snackbar {
	color: white;
	--mdc-snackbar-container-color: var(--success-color) /* rgb(115, 161, 103) */;
	--mat-mdc-snack-bar-button-color: var(--primary-text-color);
}

.full-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.rounded-box {
	padding: 20px;
	border-radius: 10px;
	background-color: var(--secondary-background-color);
	box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
	overflow-y: auto;
	min-height: 50px;
	min-width: 80px;
	max-height: 400px;
	overflow: auto;
}

.tags-container {
	display: flex;
	gap: 5px;
	overflow-x: auto;
	padding-bottom: 10px;
}

.tag-item {
	border-radius: 10px;
	border: solid thin var(--primary-lighter-color);
	text-transform: lowercase;
	font-size: 12px;
	padding: 0 5px;
	cursor: pointer;
}

.tag-item:hover {
	border-color: var(--primary-color);
	color: var(--primary-color);
}
