<h1 class="dialog-title">LOG IN</h1>
<div>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" name="username" type="text" required>
		</mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" name="password" type="password" required>
		</mat-form-field>
    </form>
</div>
<a (click)="recoverPassword()" class="password-recovery">Trouble logging in ?</a>
<div class="button-group">
    <button mat-dialog-close class="custom-button cancel-button">Cancel</button>
    <button (click)="onSubmit()" class="custom-button submit-button">Log in</button>
</div>