.matcha-chat-container {
    display: grid;
    width: 100%;
    height: 100%;
	grid-template-columns: repeat(40, 1fr);
}

.matcha-chat-side-bar {
    grid-column: 1 / 10;
}

.matcha-chat-conversation-container {
    grid-column: 10 / 41;
    height: 100%;
    background-color: white;
}