<app-spinner *ngIf="isLoading"></app-spinner>

<form class="user-profile-container" *ngIf="profile && !isLoading">
	
	<div class="back-button" (click)="onGoBackClick()">
		<mat-icon>keyboard_arrow_left</mat-icon> Go back
	</div>

	<div class="pictures-container rounded-box">
		<app-image-slider [picturesUrl]="getPicturesUrl()" *ngIf="!isEditMode"></app-image-slider>
		<app-profile-pictures [pictures]="pictures" (updatedPictures)="updatePictures($event)" *ngIf="isEditMode"></app-profile-pictures>
	</div>

		
	<div class="user-card-container rounded-box">
		<div class="action-buttons" *ngIf="profile.id !== currentUserProfile?.id">
			<mat-icon matTooltip='Like' (click)="onLikeProfileClick()" [ngClass]="{ 'active-liked-button': isProfileLiked() }">thumb_up</mat-icon>
			<mat-icon matTooltip='Dislike' (click)="onDislikeProfileClick()" [ngClass]="{ 'active-disliked-button': isProfileDisliked() }">thumb_down</mat-icon>
			<mat-icon matTooltip='Message'>message</mat-icon>
			<mat-icon matTooltip='Block' (click)="onBlacklistUserClick()" *ngIf="!isProfileBlacklisted()">block</mat-icon>
			<mat-icon matTooltip='Unblock' (click)="onUnblacklistUserClick()" *ngIf="isProfileBlacklisted()">lock_open</mat-icon>
			<mat-icon matTooltip='Report' (click)="onReportUserClick()" *ngIf="!isProfileReported()">report</mat-icon>
			<mat-icon matTooltip='Cancel fake report' (click)="onDeleteUserReportClick()" *ngIf="isProfileReported()">report_off</mat-icon>
		</div>

		<h1>
			{{profile.username}}
			<span class="user-subtitle">({{profile.firstName}} {{profile.lastName}})</span>
		</h1>
		<div class="user-card-detail">
			<mat-icon> place</mat-icon>
			<span>{{profile.ditanceKm?.toFixed(1)}}km away</span>
		</div>
		<div class="user-card-detail">
			<mat-icon>{{profile.gender === 'undefined' ? 'transgender' : profile.gender}}</mat-icon>
			<span *ngIf="!isEditMode">{{profile.gender === 'undefined' ? 'Non-binary' : profile.gender}}</span>
			<ng-container *ngIf="isEditMode" [formGroup]="profileForm">
				<mat-radio-group aria-label="Select an option" name="gender" matInput *ngIf="isEditMode" formControlName="gender">
					<mat-radio-button value="female">Woman</mat-radio-button>
					<mat-radio-button value="male">Man</mat-radio-button>
					<mat-radio-button value="undefined">Non-binary</mat-radio-button>
				</mat-radio-group>
			</ng-container>
		</div>
		<div class="user-card-detail">
			<mat-icon>perm_identity</mat-icon>
			<span *ngIf="!isEditMode">{{formatDate(profile.birthDate, 'dd-MM-YYYY', 'en-US')}} ({{getAge(profile.birthDate)}} yo)</span>
			<ng-container *ngIf="isEditMode" [formGroup]="profileForm">
				<mat-form-field appearance="outline" *ngIf="isEditMode">
					<input matInput name="birthDate" [matDatepicker]="picker" formControlName="birthDate">
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</ng-container>
		</div>

		<button (click)="onEditProfile()" class="custom-button submit-button" 
				*ngIf="currentUserProfile?.id === profile.id && !isEditMode">Edit profile</button>
		<button (click)="onSubmitProfile()" class="custom-button submit-button" 
				*ngIf="currentUserProfile?.id === profile.id && isEditMode">Submit</button>
		<button (click)="onCancelEditProfile()" class="custom-button cancel-button" 
				*ngIf="currentUserProfile?.id === profile.id && isEditMode">Cancel</button>
	</div>


	<div class="stats-container rounded-box fame-rate-container">
		{{profile.stats?.fameRate}}%
		<span class="stats-label">fame rate</span>
	</div>
	
	<div class="stats-container rounded-box likes-container">
		{{profile.stats?.fameRate}}
		<span class="stats-label">likes</span>
	</div>
	
	<div class="stats-container rounded-box matches-container">
		{{profile.stats?.fameRate}}
		<span class="stats-label">matches</span>
	</div>

	<h1 class="details-label label">Details</h1>
	<div class="details-container rounded-box">
		<ng-container *ngIf="!isEditMode">
			Interested by <b>{{profile.sexualPreferences === 'undefined' ? 'all.' 
				: profile.sexualPreferences === 'male' ? 'men.' : 'women.'}}</b>
			<div class="tags-container">
				<div class="tag-item" *ngFor="let tag of profile.tags">#{{tag}}</div>
			</div>
		</ng-container>

		<ng-container *ngIf="isEditMode" [formGroup]="profileForm">
			Interested by
			<mat-radio-group formControlName="sexualPreferences" aria-label="Select an option" name="sexualPreferences">
				<mat-radio-button value="female">Women</mat-radio-button>
				<mat-radio-button value="male">Men</mat-radio-button>
				<mat-radio-button value="undefined">All</mat-radio-button>
			</mat-radio-group>
			<app-tag-input [parentTagsInput]="profile.tags" (addedTag)="setTags($event)" [minArrayLength]=3 label="Tags"></app-tag-input>
		</ng-container>
	</div>

	<h1 class="user-description-label label">Description</h1>
	<div class="user-description-container rounded-box">
		<ng-container *ngIf="!isEditMode">{{profile.biography}}</ng-container>
		<ng-container *ngIf="isEditMode" [formGroup]="profileForm">
			<mat-form-field appearance="outline" *ngIf="isEditMode">
				<mat-label>Tell the world a bit more about you (50-500 characters)</mat-label>
				<textarea matInput formControlName="biography" maxlength="500" name="biography"></textarea>
			</mat-form-field>
		</ng-container>
	</div>

</form>