.user-profile-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(20, 1fr);
	grid-gap: 10px;
	height: calc(100% - 40px);
	margin: 20px 20px 20px 20px;
	white-space: break-spaces;
}

.back-button {
	display: flex;
	align-items: center;
	padding-left: 20px;
	grid-row: 1 / 2;
	grid-column: 1 / 3;
	font-weight: 800;
	cursor: pointer;
}

.pictures-container {
	grid-row: 2 / 12;
	grid-column: 1 / 3;
	z-index: 1;
	border-radius: 20px;
	overflow: hidden;
	padding: 0;
}

.profile-picture {
	border-radius: 20px;
	max-width: 100%;
	min-width: 100%;
	object-fit: cover;
}

.user-card-container {
	padding: 20px;
	grid-row: 12 / 21;
	grid-column: 1 / 3;
	overflow-y: auto;
}

.user-card-container .user-subtitle {
	font-size: 14px;
    color: #8F90AD;
    font-weight: 500;
}

.action-buttons {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

mat-icon {
	color: var(--primary-color);
}

.action-buttons mat-icon {
	cursor: pointer;
	border: solid thin var(--primary-color);
	border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 5px;
	background-color: var(--primary-lighter-color);
	width:auto;
}

.user-card-detail {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-top: 10px;
}

.label {
	margin-bottom: 0;
	padding-left: 20px;
	font-weight: 600;
}

.stats-label {
	font-size: 14px;
}

.stats-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 30px;
	font-weight: 700;
	font-size: 20px;
	background: linear-gradient(rgba(255, 255, 255, 0.5), transparent);
}

.fame-rate-container {
	background-color: var(--primary-color);
	grid-row: 2 / 5;
	grid-column: 3 / 4;
}

.likes-container {
	background-color: var(--primary-medium-color);
	grid-row: 2 / 5;
	grid-column: 4 / 5;
}

.matches-container {
	background-color: var(--secondary-color);
	grid-row: 2 / 5;
	grid-column: 5 / 6;
}

.details-label {
	grid-row: 5 / 6;
	grid-column: 3 / 6;
}

.details-container {
	padding: 30px;
	grid-row: 6 / 11;
	grid-column: 3 / 6;
	overflow-y: auto;
}

.tags-container {
	margin-top: 10px;
	gap: 10px;
}

.user-description-label {
	grid-row: 11 / 12;
	grid-column: 3 / 6;
}

.user-description-container {
	padding: 30px;
	word-break: break-all;
	overflow-y: auto;
	grid-row: 12 / 21;
	grid-column: 3 / 6;
}

.custom-button {
	margin-top: 20px;
	width: 100%;
}

.user-description-container .mat-mdc-form-field {
	height: 100%;
}


::ng-deep .mat-mdc-form-field-flex {
	height: 100% !important;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
	height: 100% !important;
}

textarea {
	height: 100% !important;
}

:host::ng-deep .profile-pictures-container {
	display: grid !important;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: calc(100% - 20px) !important;
	height: calc(100% - 20px) !important;
	margin: 10px;
}

:host::ng-deep .profile-picture-container {
	width: 100% !important;
	height: 100% !important;
	grid-row: 1 / 3;
	grid-column: 1 / 3;
}

:host::ng-deep .additionnal-pictures-container {
	display: grid !important;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-row: 1 / 3;
	grid-column: 3 / 5;
    height: 100%;
    width: 100%;
}

:host::ng-deep .additionnal-picture-container {
	width: 100% !important;
	height: 100% !important;
}

:host::ng-deep .image1 {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

:host::ng-deep .image2 {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

:host::ng-deep .image3 {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}
:host::ng-deep .image4 {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}