.mat-mdc-standard-chip {
	border-radius: 6px;
	font-size: 10px;
	height: 25px;
	border: solid 1px #D9C5FF;
	font-weight: bold;
	--mdc-chip-label-text-color: #1c1e4f; 
}

.dating-chips-container {
	width: 95%;
	display: flex;
	flex-flow: nowrap;
	overflow: scroll;
	align-items: center;
	gap: 10px;
	height: 7vh;
}

.dating-progression-container {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.dating-subtitle {
	color: #1c1e4f;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0px;
	text-align: left;
}
