@media screen and (max-width: 1200px) {
	app-header {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 3;
	}
	.pages-container {
		height: calc(100vh - 45px);
		display: block;
		margin-top: 45px;
	}
    app-nav-side-bar {
        display: none;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		z-index: 5 !important;
    }
    app-notifications-side-bar {
        display: none;
		background-color: var(--primary-light-text-color);
		padding-left: 5px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
	.page-content-container {
		width: 100% !important;
		padding: 1px;
		min-height: 100%;
	}
}

@media screen and (min-width: 1200px) {
	.pages-container {
		display: flex;
		row-gap: 10px;
		width: 100%;
		height: calc(100vh - 45px);
	}
    app-nav-side-bar {
        display: block !important;
		position: relative !important;
    }
    app-notifications-side-bar {
        display: block !important;
		position: relative !important;
		top: unset !important;
    }
	.page-content-container {
		width: 70vw;
		min-height: 100%;
	}
}