@media screen and (max-width: 1200px) {
	app-header {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 3;
	}
	.pages-container {
		height: 100%;
		display: block;
		margin-top: 45px;
	}
    app-nav-side-bar {
        display: none;
    }
    app-notifications-side-bar {
        display: none;
    }
	.page-content-container {
		width: 100% !important;
		padding: 1px;
	}
}

@media screen and (min-width: 1200px) {
	.pages-container {
		display: flex;
		flex: 2 4 2;
		row-gap: 10px;
		width: 100%;
		height: 93vh;
	}
    app-nav-side-bar {
        display: block !important;
		position: relative !important;
    }
	.page-content-container {
		width: 70vw;
	}
}