<div  *ngIf="isMobile" id="filter-button-drawer" class="button-drawer-container">
	<button class="custom-button" (click)="toggleMenu()">
		Filters and settings
	</button>
</div>
<div id="filters-settings-container" class="filters-settings-container">
	<a (click)="toggleMenu()" *ngIf="isMobile" class="close"><mat-icon>close</mat-icon></a>
	<div *ngIf="isMobile" class="filter-label filter-label-mobile">Filters</div>
	<div class="filters-container">
		<div class="filter">
			<span class="filter-label">Tags</span>
			<app-tags-popup [label]="filters.tags?.length ? filters.tags?.length + ' tags' : 'None'"
				description="Select some tags" (appliedValue)="setTagsFilter($event)"
				[tagsObservable]="tagsSubject.asObservable()">
			</app-tags-popup>
		</div>

		<div class="filter">
			<span class="filter-label">Age gap</span>
			<app-double-slider-popup [label]="filters.ageMax ? filters.ageMin + ' - ' + filters.ageMax : 'All'"
				description="Select an age gap" [min]=18 [max]=120
				[minValue]="filters.ageMin || 18" [maxValue]="filters.ageMax || 120"
				(appliedValue)="setAgeGapFilter($event)">
			</app-double-slider-popup>
		</div>

		<div class="filter">
			<span class="filter-label">Fame gap</span>
			<app-double-slider-popup
				[label]="filters.fameRateMax ? filters.fameRateMin + ' - ' + filters.fameRateMax : 'All'" label="Select"
				description="Select a fame gap"
				[min]=0 [max]=100
				[minValue]="filters.fameRateMin || 0" [maxValue]="filters.fameRateMax || 100" (appliedValue)="setFameGapFilter($event)">
			</app-double-slider-popup>
		</div>

		<div class="filter">
			<span class="filter-label">Distance max. (km)</span>
			<app-slider-popup [label]="filters.distanceKilometers ? filters.distanceKilometers + 'km' : 'All'"
				label="Select" description="Select a max distance in kilometers" [max]=1000
				[maxValue]="filters.distanceKilometers || 1000"
				(appliedValue)="setDistanceFilter($event)">
			</app-slider-popup>
		</div>

	</div>

	<div *ngIf="isMobile" class="filter-label filter-label-mobile"><br>Settings<br></div>
	<div class="settings-container">

		<div class="setting">
			<div class="setting-label">Sort by</div>
			<mat-form-field appearance="outline">
				<mat-select (selectionChange)="setOrderBy($event)" [value]="filters.orderBy">
					<mat-option [value]=""></mat-option>
					<mat-option [value]="age">Age</mat-option>
					<mat-option [value]="fame">Fame</mat-option>
					<mat-option [value]="distance">Distance</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		
		<div class="setting">
			<div class="setting-label">Order</div>
			<mat-form-field appearance="outline">
				<mat-select (selectionChange)="setOrder($event)" [value]="filters.order">
					<mat-option [value]=""></mat-option>
					<mat-option value="asc">Ascending</mat-option>
					<mat-option value="desc">Descending</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		
		<div class="setting">
			<div class="setting-label">Display items</div>
			<mat-form-field appearance="outline">
				<mat-select (selectionChange)="setBatchSize($event)" [value]="filters.batchSize">
					<mat-option value=4>4</mat-option>
					<mat-option value=8>8</mat-option>
					<mat-option value=20>20</mat-option>
					<mat-option value=30>30</mat-option>
					<mat-option value=50>50</mat-option>
					<mat-option value=100>100</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

	</div>
</div>
