.filters-settings-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.filters-container {
	border-radius: 10px;
	background-color: white;
	margin: 15px 5px;
	padding: 15px 0;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 0;
}

.filter {
	width: 23%;
}

.filter-label {
	font-weight: 600;
    margin-left: 5px;
    font-size: 13px;
}

.settings-container {
	display: inline-flex;
	padding-top: 10px;
	font-weight: 800;
	justify-content: left;
	margin-top: 5px;
	margin-bottom: 10px;
}

.setting {
	display: flex;
	align-items: center;
	max-width: 25%;
}

.setting-label {
	text-align: right;
	padding: 0 10px;
	font-size: 12px;
	white-space: nowrap;
}

:host::ng-deep .settings-container .mat-mdc-text-field-wrapper {
    height: 30px;
    flex: auto;
}

:host::ng-deep .settings-container .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
	padding-top: 3px !important;
	padding-bottom: 0;
}