<div class="dialog">
	<h1 class="dialog-title">
		RESET PASSWORD
	</h1>

	<div *ngIf="!passwordReset">
		<h3 class="dialog-subtitle">Please enter the new password</h3>
		<br />
		<form [formGroup]="resetPasswordForm">
			<div class="form-field">
				<label for="password">Password</label>
				<input type="password" id="password" formControlName="password" required>
			</div>
			<div class="form-field">
				<label for="passwordConfirmation">Confirmation</label>
				<input type="password" id="passwordConfirmation" formControlName="passwordConfirmation" required>
			</div>
			<div class="form-error" *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
				Please enter a valid password.
			</div>
			<div class="form-error" *ngIf="resetPasswordForm.get('password')?.getRawValue() !== resetPasswordForm.get('passwordConfirmation')?.getRawValue()
				&& resetPasswordForm.get('passwordConfirmation')?.touched">
				Passwords don't match.
			</div>
		</form>
		<div class="button-group">
			<button (click)="onSubmit()" class="dialog-button submit-button">Reset password</button>
		</div>
	</div>

	<div *ngIf="passwordReset">
		<h3>Password reset was successfully requested.</h3>
		<p><a (click)="goBackToLoginDialog()" class="go-to-login-link">Go to login</a></p>
	</div>
</div>