<div class="dialog">
	<h1 class="dialog-title">
		RESET PASSWORD
	</h1>

	<div *ngIf="!passwordReset">
		<h3 class="dialog-subtitle">Please enter the new password</h3>
		<br />
		<form [formGroup]="resetPasswordForm">
			<mat-form-field appearance="outline">
				<mat-label for="password">Password</mat-label>
				<input matInput type="password" id="password" formControlName="password" required>
				<mat-error *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
					Please enter a valid password.
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label for="passwordConfirmation">Confirmation</mat-label>
				<input matInput type="password" id="passwordConfirmation" formControlName="passwordConfirmation" required>
			</mat-form-field>
			
		</form>
		<div class="button-group">
			<button (click)="onSubmit()" class="custom-button submit-button">Reset password</button>
		</div>
	</div>

	<div *ngIf="passwordReset">
		<h3>Password reset was successfully requested.</h3>
		<p><a (click)="goBackToLoginDialog()" class="go-to-login-link">Go to login</a></p>
	</div>
</div>