<app-spinner *ngIf="isLoading"></app-spinner>

<div class="profile-pictures-container" *ngIf="!isLoading">

	<div class="profile-picture rounded-rectangular-container">
		<div class="rounded-rectangular-image"
			[style.background-image]="pictures.profilePicture?.url ? 'url(' + pictures.profilePicture?.url + ')' : ''">
			<mat-icon *ngIf="!pictures.profilePicture?.url" (click)="profilePicInput.click()" class="picture-center-icon">add</mat-icon>
			<mat-icon *ngIf="pictures.profilePicture?.url" class="picture-center-icon hide" (click)="deleteProfilePicture()">delete_outline</mat-icon>
		</div>
		<input hidden #profilePicInput type="file" (change)="uploadProfilePic($event)">
	</div>

	<div class="additionnal-pictures-container">
		<div *ngFor="let picture of pictures.additionnalPictures; let i = index" class="rounded-rectangular-container">
			<div class="rounded-rectangular-image"
				[style.background-image]="picture.url ? 'url(' + picture.url + ')' : ''">
				<mat-icon *ngIf="!picture.url" (click)="additionnalPicInput.click()" class="picture-center-icon">add</mat-icon>
				<mat-icon *ngIf="picture.url" class="picture-center-icon hide" (click)="deleteAdditionnalPicture(i)">delete_outline</mat-icon>
				<input hidden #additionnalPicInput type="file" (change)="uploadAdditionnalPic($event, i)">
			</div>
		</div>
	</div>
</div>