<div class="user-list-container">
	<div class="user-list-filter-bar">
		<app-user-list-filters (addedFilter)="setFilters($event)" [filtersObservable]="filtersSubject.asObservable()"></app-user-list-filters>
	</div>

	<div *ngIf="isLoading" class="spinner-container">
		<app-spinner></app-spinner>
	</div>
	<div class="user-list" *ngIf="!isLoading">
		<div class="user-item" *ngFor="let user of userList" [ngStyle]="{'background-image': 'linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(' + environment.firebaseUrl + user.picturesIds?.profilePicture + '?alt=media' + ')'}">
			<div class="user-item-container-details">
				<span class="user-item-username">{{ user.username }} <ng-container class="user-item-age" *ngIf="user.age">({{user.age}} ans)</ng-container></span>
				<span class="user-item-distance">{{ user.ditanceKm?.toFixed(0) }}km</span>
			</div>
			<div class="user-item-fame">
				<mat-icon class="heart-icon">favorite_border</mat-icon>
				{{user.fameRate}}%
			</div>
			<div class="user-item-tags">
				<div class="tag-item" *ngFor="let tag of user.tags" matTooltip="Filter with this tag" (click)="setTagFilter(tag)">
					#{{tag}}
				</div>
			</div>
		</div>
	</div>

	<div class="pagination-container">
		<span *ngIf="page > 1" (click)="goToPreviousPage()" class="pagination-button">< Previous</span>
		<span *ngIf="page < totalUserCount / filtersSubject.getValue().batchSize" (click)="goToNextPage()" class="pagination-button"> Next ></span>
	</div>

</div>