<div class="dialog">
    <h1  class="dialog-title">SIGN IN</h1>
    <div>
        <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="outline">
                <mat-label for="username">Username</mat-label>
                <input matInput type="text" id="username" formControlName="username" required>
				<mat-error *ngIf="newUserForm.get('username')?.invalid && newUserForm.get('username')?.touched">
					Please enter a valid username.
				</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="firstName">First name</mat-label>
                <input matInput type="text" id="firstName" formControlName="firstName" required>
				<mat-error *ngIf="newUserForm.get('firstName')?.invalid && newUserForm.get('firstName')?.touched">
					Please enter a valid first name.
				</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="lastName">Last name</mat-label>
                <input matInput type="text" id="lastName" formControlName="lastName" required>
				<mat-error *ngIf="newUserForm.get('lastName')?.invalid && newUserForm.get('lastName')?.touched">
					Please enter a valid last name.
				</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                <mat-label for="email">Email</mat-label>
                <input matInput type="email" id="email" formControlName="email" required>
				<mat-error *ngIf="newUserForm.get('email')?.invalid && newUserForm.get('email')?.touched">
					Please enter a valid email address.
				</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                <mat-label for="password">Password</mat-label>
                <input matInput type="password" id="password" formControlName="password" required>
				<mat-error *ngIf="newUserForm.get('password')?.invalid && newUserForm.get('password')?.touched">
                    Password must be at least 8 characters, must contain at least 1 uppercase and 1 digit.
                </mat-error>
            </mat-form-field>

            <div class="button-group">
                <button mat-dialog-close class="custom-button cancel-button">Cancel</button>
                <button (click)="onSubmit()" class="custom-button submit-button">Sign in</button>
            </div>
        
        </form>
  
    </div>

</div>