<div class="dialog">
    <h1 class="dialog-title">LOG IN</h1>
    <div>
        <form>
            <form>
                <div class="form-field">
                    <label>Username</label>
                    <input [(ngModel)]="username" name="username" type="text" required>
                </div>
                <br />

                <div class="form-field">
                    <label>Password</label>
                    <input [(ngModel)]="password" name="password" required>
                </div>
            </form>
        </form>
    </div>
    <div class="button-group">
        <button mat-dialog-close class="dialog-button cancel-button">Cancel</button>
        <button (click)="onSubmit()" class="dialog-button submit-button">Log in</button>
    </div>

</div>