.contact-card-container {
	height: 7vh;
    display: grid;
	cursor: pointer;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.contact-card-activated {
	background-color: var(--secondary-background-color);
	border-radius: 10px;
}

.contact-card-image-cotainer {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

.contact-card-text-container {
    grid-column: 4 / 10;
    grid-row: 2 / 2;
}

.contact-card-padding-sides {
	padding-left: 1vw;
}

.contact-card-overflow-ellispis {
	text-overflow: ellipsis;
	white-space: nowrap;
    text-overflow: ellipsis;
	width: 5vw;
    display: block;
    overflow: hidden;
}

.contact-card-name {
	color: var(--primary-text-color);
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 0px;
	height: 15px;
}

.contact-card-message {
	color: #8F90AD;
	font-size: 10px;
	margin-bottom: 0px;
	height: 15px;
}

.contact-card-time-container {
    grid-column: 11 / 13;
    grid-row: 2 / 2;
}