<div [ngClass]="{'matcha-contact-card-activated': activated}" class="matcha-flex-row matcha-flex-align-center matcha-contact-card-container">
	<div class="matcha-contact-card-padding-sides">
		<div class="matcha-flex-row matcha-gap-10px">
			<img class="matcha-contact-card-image matcha-object-fit-cover " src="https://images.unsplash.com/photo-1529175283207-194a414b9ffa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80"/>
			<div class="matcha-flex-column matcha-flex-column">
				<h6 class="matcha-contact-card-overflow-ellispis matcha-contact-card-name">name</h6>
				<p class="matcha-contact-card-message matcha-contact-card-overflow-ellispis">content of the message</p>
			</div>
			<div class="matcha-contact-card-time-container matcha-flex-row-reverse">
				<p class="matcha-contact-card-message">12m</p>
			</div>
		</div>
	</div>
</div>
