<div [ngClass]="{'matcha-contact-card-activated': activated}" class="matcha-flex-row matcha-flex-align-center matcha-contact-card-container">
	<div class="matcha-contact-card-padding-sides">
		<div class="matcha-flex-row matcha-gap-10px">
			<img class="matcha-contact-card-image matcha-object-fit-cover " [src]=pictureIdToUrl(conversation.picture_id)/>
			<div class="matcha-flex-column matcha-flex-column">
				<h6 class="matcha-contact-card-overflow-ellispis matcha-contact-card-name">
					{{ conversation.lastname }} {{ conversation.firstname }}
				</h6>
				<p class="matcha-contact-card-message matcha-contact-card-overflow-ellispis">
					{{ conversation.last_message }}
				</p>
			</div>
			<div class="matcha-contact-card-time-container matcha-flex-row-reverse">
				<p class="matcha-contact-card-message">12m</p>
			</div>
		</div>
	</div>
</div>
