.dating-page-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dating-card-container {
	width: 60%;
	height: 90%;
	background-color: var(--secondary-background-color);
	border-radius: 10px;
	overflow: hidden;
}

.image-slider {
	width: 100%;
	height: 60%;
}

.dating-width-80 {
	width: 80%;
}

.dating-width-90 {
	width: 90%;
}

.dating-flex-column {
	display: flex;
	flex-direction: column;
}

.dating-flex-row {
	display: flex;
	flex-direction: row;
}

.gap-10 {
	gap: 10px;
}

.dating-flex-row-reversed {
	display: flex;
	flex-direction: row-reverse;
}

.no-match-found-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}