.settings-container {
	margin: 30px;
	height: calc(100% - 60px);
	width: calc(100% - 60px);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(20, 1fr);
	gap: 10px;
}

h1 {
	margin: 0;
	font-weight: 600;
	padding-left: 10px;
}

mat-icon {
	cursor: pointer;
}

:host::ng-deep .mat-mdc-form-field-subscript-wrapper {
	display: none !important;
}

:host::ng-deep .mat-mdc-text-field-wrapper  {
	height: 40px !important;
}

:host::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
	padding-top: 8px !important;
}

.field-label {
	display: flex;
    align-items: center;
    height: 40px;
	font-weight: 600;
	min-width: 140px;
}
.form-field-labels {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 5px;
	grid-column: 1 / 2;
}
.form-field-values {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 5px;
	grid-column: 2 / 3;
}
.form-actions {
	grid-column: 3 / 4;
	display: flex;
	flex-direction: column;
	align-items:flex-end;
	gap: 10px;
	min-width: 40px;
}

.user-details-label {
	grid-row: 1 / 2;
	grid-column: 1 / 6;
}
.user-details-container {
	grid-row: 2 / 10;
	grid-column: 1 / 6;
	display: grid;
	grid-template-columns: 4fr 4fr 1fr;
	grid-template-rows: repeat(autofill, 40px);
	padding-left: 50px;
}

.views-history-label {
	grid-row: 10 / 11;
	grid-column: 1 / 6;
}
.views-history-container {
	grid-row: 11 / 21;
	grid-column: 1 / 6;
}

.password-label {
	grid-row: 1 / 2;
	grid-column: 6 / 11;
}
.password-container {
	grid-row: 2 / 7;
	grid-column: 6 / 11;
	display: grid;
	grid-template-columns: 3fr 3fr 1fr;
	grid-template-rows: repeat(autofill, 40px);
	padding-left: 50px;
}

.blacklists-label {
	grid-row: 15 / 16;
	grid-column: 6 / 11;
}
.blacklists-container {
	grid-row: 16 / 21;
	grid-column: 6 / 11;
}

.likes-history-label {
	grid-row: 7 / 8;
	grid-column: 6 / 11;
}
.likes-history-container {
	grid-row: 8 / 15;
	grid-column: 6 / 11;
}

.empty-table-message {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5%;
	font-style: italic;
	color: gray;
	font-weight: 700;
}

.setting-table-container {
	padding: 0;
}

:host::ng-deep .mat-mdc-tab-body-wrapper {
	height: inherit;
}

:host::ng-deep .mat-mdc-tab-group {
	height: 100%;
}

:host::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
	color: var(--primary-color);
}

:host::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
	border-color: var(--primary-color);
}

@media screen and (max-width: 1000px) {
	.settings-container {
		margin-top: 5px;
	}

	.form-field-labels {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		gap: 5px;
		grid-column: 1 / 2;
	}
	.form-field-values {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		gap: 5px;
		grid-column: 2 / 3;
	}
	.form-actions {
		grid-column: 3 / 4;
		display: flex;
		flex-direction: column;
		align-items:flex-end;
		gap: 10px;
	}

	.container-label {
		display: flex;
		align-items: center;
	}
	
	.user-details-label {
		grid-row: 1 / 2;
		grid-column: 1 / 11;
	}
	.user-details-container {
		grid-row: 2 / 5;
		grid-column: 1 / 11;
		display: grid;
		grid-template-columns: 4fr 4fr 1fr;
		grid-template-rows: repeat(autofill, 40px);
		padding-left: 50px;
	}
	
	.password-label {
		grid-row: 5 / 6;
		grid-column: 1 / 11;
	}
	.password-container {
		grid-row: 6 / 9;
		grid-column: 1 / 11;
		display: grid;
		grid-template-columns: 3fr 3fr 1fr;
		grid-template-rows: repeat(autofill, 40px);
		padding-left: 50px;
	}

	.views-history-label {
		grid-row: 9 / 10;
		grid-column: 1 / 11;
	}
	.views-history-container {
		grid-row: 10 / 13;
		grid-column: 1 / 11;
	}
	
	.blacklists-label {
		grid-row: 13 / 14;
		grid-column: 1 / 11;
	}
	.blacklists-container {
		grid-row: 14 / 17;
		grid-column: 1 / 11;
	}
	
	.likes-history-label {
		grid-row: 17 / 18;
		grid-column: 1 / 11;
	}
	.likes-history-container {
		grid-row: 18 / 21;
		grid-column: 1 / 11;
	}
}
