<div class="settings-container">

	<h1 class="user-details-label">User details</h1>
	<div class="user-details-container rounded-box">
		<div class="form-field-labels">
			<span class="field-label">First name</span>
			<span class="field-label">Last name</span>
			<span class="field-label">Username</span>
			<span class="field-label">Mail address</span>
		</div>
		<div class="form-field-values">
			<ng-container *ngIf="!isUserDetailsEditMode">
				<span class="field-value">{{currentUser?.firstName}}</span>
				<span class="field-value">{{currentUser?.lastName}}</span>
				<span class="field-value">{{currentUser?.username}}</span>
				<span class="field-value">{{currentUser?.email}}</span>
			</ng-container>
			<ng-container *ngIf="isUserDetailsEditMode && userForm" [formGroup]="userForm">
					<mat-form-field appearance="outline">
						<input matInput type="text" id="firstName" formControlName="firstName" required>
						<mat-error *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
							Please enter a valid first name.
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<input matInput type="text" id="lastName" formControlName="lastName" required>
						<mat-error *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
							Please enter a valid last name.
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<input matInput type="text" id="username" formControlName="username" required>
						<mat-error *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched">
							Please enter a valid username.
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<input matInput type="text" id="email" formControlName="email" required>
						<mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
							Please enter a valid mail address.
						</mat-error>
					</mat-form-field>

			</ng-container>
			</div>
		<div class="form-actions">
			<mat-icon 	*ngIf="!isUserDetailsEditMode" 
						matTooltip="Edit user details" 
						(click)="onEditUserDetails()"
						>edit</mat-icon>
			<mat-icon	*ngIf="isUserDetailsEditMode"
						matTooltip="Submit"
						(click)="onSubmitUserDetails()"
						>check</mat-icon>
			<mat-icon	*ngIf="isUserDetailsEditMode"
						matTooltip="Cancel"
						(click)="onCancelUserDetailsEdit()"
						>close</mat-icon>
		</div>
	</div>

	<h1 class="views-history-label">Views history</h1>
	
	<div class="views-history-container rounded-box setting-table-container">

		<mat-tab-group>
			<mat-tab label="Who viewed you">
				<div *ngIf="!othersViewsList.length" class="empty-table-message">Nobody viewed you (yet!).</div>
				<app-users-with-action-table [users]="othersViewsList" *ngIf="othersViewsList.length"></app-users-with-action-table>
				<app-spinner *ngIf="!othersViewsList"></app-spinner>
			</mat-tab>
			
			<mat-tab label="Who you viewed">
				<div *ngIf="!selfViewsList.length" class="empty-table-message">You viewed no one.</div>
				<app-users-with-action-table [users]="selfViewsList" *ngIf="selfViewsList.length"></app-users-with-action-table>
				<app-spinner *ngIf="!selfViewsList"></app-spinner>
			</mat-tab>
		</mat-tab-group>
		  
	</div>


	<h1 class="password-label">Password</h1>
	<div class="password-container rounded-box">
		<div class="form-field-labels" *ngIf="passwordForm">
			<span class="field-label">Last password</span>
			<span class="field-label">New password</span>
			<span class="field-label">Repeat new password</span>
		</div>
		<div class="form-field-values">
			<ng-container *ngIf="passwordForm" [formGroup]="passwordForm">
					<mat-form-field appearance="outline">
						<input matInput type="password" id="lastPassword" formControlName="lastPassword" required>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<input matInput type="password" id="newPassword" formControlName="newPassword" required>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<input matInput type="password" id="repeatNewPassword" formControlName="repeatNewPassword" required>
						<mat-error *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
							Password must be at least 8 characters, must contain at least 1 uppercase and 1 digit.
						</mat-error>
					</mat-form-field>

			</ng-container>
			</div>
		<div class="form-actions">
			<mat-icon 	*ngIf="!isPasswordEditMode" 
						matTooltip="Edit password" 
						(click)="onEditPassword()"
						>edit</mat-icon>
			<mat-icon	*ngIf="isPasswordEditMode"
						matTooltip="Submit"
						(click)="onSubmitPassword()"
						>check</mat-icon>
			<mat-icon	*ngIf="isPasswordEditMode"
						matTooltip="Cancel"
						(click)="onCancelPasswordEdit()"
						>close</mat-icon>
		</div>
	</div>

	<h1 class="likes-history-label">Likes history</h1>
	<div class="likes-history-container rounded-box setting-table-container">

		<mat-tab-group>
			<mat-tab label="Who liked you">
				<div *ngIf="!blacklist.length" class="empty-table-message">You liked no one (yet!).</div>
				<app-users-with-action-table
					*ngIf="blacklist.length"
					[users]="blacklist"
					actionLabel="Unblock"
					(action)="deleteBlacklist($event)"
					></app-users-with-action-table>
				<app-spinner *ngIf="!blacklist"></app-spinner>
			</mat-tab>
			
			<mat-tab label="Who you liked">
				<div *ngIf="!fakeReportList.length" class="empty-table-message">No one liked you (yet!).</div>
				<app-users-with-action-table
					*ngIf="fakeReportList.length"
					[users]="fakeReportList"
					actionLabel="Delete fake report"
					(action)="deleteFakeReport($event)"
					></app-users-with-action-table>
				<app-spinner *ngIf="!fakeReportList"></app-spinner>
			</mat-tab>
		</mat-tab-group>

	</div>
	
	<h1 class="blacklists-label">Blacklists</h1>
	<div class="blacklists-container rounded-box setting-table-container">

		<mat-tab-group>
			<mat-tab label="Blacklist">
				<div *ngIf="!blacklist.length" class="empty-table-message">You blacklisted no one.</div>
				<app-users-with-action-table
					*ngIf="blacklist.length"
					[users]="blacklist"
					actionLabel="Unblock"
					(action)="deleteBlacklist($event)"
					></app-users-with-action-table>
				<app-spinner *ngIf="!blacklist"></app-spinner>
			</mat-tab>
			
			<mat-tab label="Fake report list">
				<div *ngIf="!fakeReportList.length" class="empty-table-message">You reported no one.</div>
				<app-users-with-action-table
					*ngIf="fakeReportList.length"
					[users]="fakeReportList"
					actionLabel="Delete fake report"
					(action)="deleteFakeReport($event)"
					></app-users-with-action-table>
				<app-spinner *ngIf="!fakeReportList"></app-spinner>
			</mat-tab>
		</mat-tab-group>

	</div>

</div>