.matcha-contact-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

.chat-side-bar-container {
    padding: 10px;
}