<div class="chat-side-bar-container">
	<app-chat-match-bar
		(onMatchClick)="setConversationUserID($event)"
		[matchs]="matchs"
	/>
	<h4 class="chat-section-title">CHATS</h4>
	<div class="matcha-contact-cards-container">
		<app-contact-card
			*ngFor="let conversation of conversations"
			class="contact-cards"
			[conversation]="conversation"
			[activated]="conversation.user_id === conversationUserId"
			(click)="setConversationUserID(conversation);navigateToUserConversation(conversation.user_id)"
		/>
	</div>
</div>
