<div class="filter-item">
	<div class="filter-button">
		<mat-label>{{label}}</mat-label>
		<mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
	</div>
	<div class="filter-popup" id="age-popup">
		<div class="filter-popup-description">
			{{description}}
		</div>
		<app-tag-input (addedTag)="setTags($event)" [parentResetTagsObservable]="resetTagsSubject" [tagsSubject]="tagsSubject"></app-tag-input>
		<div class="popup-button-group">
			<button class="custom-button cancel-button" (click)="onResetClick()">Reset</button>
			<button class="custom-button submit-button" (click)="onApplyClick()">Apply</button>
		</div>
	</div>
</div>