<h1 class="dialog-title">
    <mat-icon (click)="goBackToLoginDialog()" class="go-back-arrow">arrow_back</mat-icon>
    PASSWORD RECOVERY
</h1>

<div *ngIf="!mailSent">
	<h3 class="dialog-subtitle">We will email you a link to reset your password</h3>
	<br />
    <form [formGroup]="emailForm">
        <mat-form-field appearance="outline">
            <mat-label for="email">Email</mat-label>
            <input matInput type="email" id="email" formControlName="email" required>
			<mat-error *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">
				Please enter a valid email address.
			</mat-error>
        </mat-form-field>
    </form>
	<div class="button-group">
		<button (click)="onSubmit()" class="dialog-button submit-button">Recover</button>
	</div>
</div>

<div *ngIf="mailSent">
	<h3>An email was sent to the address if it exists.</h3>
</div>