<h1 class="dialog-title">
    <mat-icon (click)="goBackToLoginDialog()" class="go-back-arrow">arrow_back</mat-icon>
    PASSWORD RECOVERY
</h1>

<div *ngIf="!mailSent">
	<h3 class="dialog-subtitle">We will email you a link to reset your password</h3>
	<br />
    <form [formGroup]="emailForm">
        <div class="form-field">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" required>
        </div>
        <div class="form-error" *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">
            Please enter a valid email address.
        </div>
    </form>
	<div class="button-group">
		<button (click)="onSubmit()" class="dialog-button submit-button">Recover</button>
	</div>
</div>

<div *ngIf="mailSent">
	<h3>An email was sent to the address if it exists.</h3>
</div>