.nav-side-bar-container {
	min-width: 200px;
	width: 15vw;
	height: calc(100vh - 45px);
    background-color: white;
    overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none; 
}

.nav-side-bar-container::-webkit-scrollbar {
	display: none;
}