::ng-deep .page-content-container {
	height: 100% !important;
}

.date-planner-container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	height: 100%;
}

.date-planner-calendar {
	display: grid;
	grid-template-columns: repeat(100, 1fr);
	grid-template-rows: repeat(100, 1fr);
	grid-column: 1 / 11;
	width: 100%;
	height: 100%;
	overflow: auto !important;
}

.add-event-button {
	color: gray;
	width: 100%;
	justify-content: right;
	align-items: start;
	display: flex;
	cursor: pointer;
	margin-top: 10px; 
	grid-column: 90 / 98;
	grid-row: 3 / 5;
	z-index: 3;
}

date-planner-header {
	grid-column: 1 / 101;
	grid-row: 3 / 15;
	min-height: 100px;
	overflow: auto;
	cursor: pointer;
}

::ng-deep .cal-month-view {
	background-color: var(--secondary-background-color);
	min-width: 400px;
	overflow: auto;
	grid-column: 1 / 101;
	grid-row: 15 / 101;
}

::ng-deep .cal-week-view {
	background-color: var(--secondary-background-color);
}
::ng-deep .cal-month-view .cal-day-cell.cal-today {
	background-color: var(--background-color);
}
::ng-deep .cal-week-view .cal-header.cal-today {
	background-color: var(--background-color);
}

::ng-deep .cal-week-view .cal-hour-odd  {
	background-color: var(--background-color);
}

::ng-deep .cal-week-view .cal-header.cal-weekend span {
	color: var(--primary-text-color)
}

.split-date-planner-calendar {
	grid-column: 1 / 8;
}

.opened-window-container {
	grid-column: 8 / 11;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opened-window {
	width: 85%;
	height: 92%;
	max-height: unset;
}

@media screen and (max-width: 1200px) {
	.split-date-planner-calendar {
		display: none;
	}
	.opened-window-container {
		grid-column: 1 / 11;
	}
}