<div class="date-planner-container" *ngIf="calendarEvents">

	<div class="date-planner-calendar" [class.split-date-planner-calendar]="!!openedWindow">
		<div class="add-event-button" (click)="openAddEventWindow()">
			<mat-icon>add</mat-icon>
		</div>
		
		<date-planner-header [(view)]="view" [(viewDate)]="viewDate">
		</date-planner-header>

		<div [ngSwitch]="view" class="cal-month-view">
			<mwl-calendar-month-view
				*ngSwitchCase="'month'"
				[viewDate]="viewDate"
				[events]="calendarEvents"
				[activeDayIsOpen]="true"
				(eventClicked)="displayEvent($event)"
			>
			</mwl-calendar-month-view>
			<mwl-calendar-week-view                                  
				*ngSwitchCase="'week'"
				[viewDate]="viewDate"
				[events]="calendarEvents"
				(eventClicked)="displayEvent($event)"
			>
			</mwl-calendar-week-view>
			<mwl-calendar-day-view
				*ngSwitchCase="'day'"
				[viewDate]="viewDate"
				[events]="calendarEvents"
				(eventClicked)="displayEvent($event)"
			>
			</mwl-calendar-day-view>
		</div>
	</div>

	<div class="opened-window-container" *ngIf="!!openedWindow">
		<div class="rounded-box opened-window">
			<date-planner-display-event *ngIf="openedWindow === 'displayEvent'"
						(closedWindow)="closeWindow()"
						(deletedEvent)="deleteEvent($event)"
						[event]="displayedEvent"></date-planner-display-event>
			<date-planner-add-event
						*ngIf="openedWindow === 'addEvent'"
						(closedWindow)="closeWindow()"
						(addedEvent)="addEvent($event)"
						></date-planner-add-event>
		</div>
	</div>

</div>
