<mat-progress-bar mode="determinate"
	[value]="firstFillingProfileMode / FILLING_PROFILE_STEP_COUNT * 100"></mat-progress-bar>

<app-spinner *ngIf="isLoading"></app-spinner>

<div *ngIf="!isLoading" class="full-page first-profile-filling-page">

	<div *ngIf="firstFillingProfileMode === FirstFillingProfileMode.INTRO" class="first-profile-filling-subpage">
		<h1>Welcome! Let’s create your profile</h1>
		<h2>Let others get to know you better! Select up to 5 pictures</h2>
		<app-profile-pictures [pictures]="pictures" (updatedPictures)="updatePictures($event)"></app-profile-pictures>
	</div>

	<form [formGroup]="profileForm">

		<div *ngIf="firstFillingProfileMode === FirstFillingProfileMode.SEXUAL_PROFILE"
			class="first-profile-filling-subpage">
			<h1>Sexual preferences</h1>
			<div formGroupName="sexualProfile">
				<div class="form-field">
					<mat-form-field appearance="outline">
						<mat-label>Date of birth</mat-label>
						<input matInput formControlName="birthDate" [matDatepicker]="picker">
						<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="form-field">
					<label for="gender">Gender</label>
					<mat-radio-group aria-label="Select an option" formControlName="gender" matInput>
						<mat-radio-button value="female">Woman</mat-radio-button>
						<mat-radio-button value="male">Man</mat-radio-button>
						<mat-radio-button value="binary">Binary</mat-radio-button>
					</mat-radio-group>
				</div>
				<div class="form-field">
					<label for="sexualPreferences">Sexual Preferences</label>
					<mat-radio-group aria-label="Select an option" formControlName="sexualPreferences">
						<mat-radio-button value="female">Woman</mat-radio-button>
						<mat-radio-button value="male">Man</mat-radio-button>
						<mat-radio-button value="binary">All</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>
		</div>

		<div *ngIf="firstFillingProfileMode === FirstFillingProfileMode.PERSONNAL_PROFILE"
			class="first-profile-filling-subpage">
			<h1>Give a little description of yourself :)</h1>
			<div formGroupName="personnalProfile">
				<mat-form-field appearance="outline">
					<mat-label>Tell the world a bit more about you (50-500 characters)</mat-label>
					<textarea matInput formControlName="biography" maxlength="500"></textarea>
				</mat-form-field>

				<app-tag-input (addedTag)="setTags($event)" [minArrayLength]=3 label="Select a couple of tags that define you (min. 3)"></app-tag-input>

			</div>
		</div>

		<div *ngIf="firstFillingProfileMode === FirstFillingProfileMode.END" class="first-profile-filling-subpage">
			<h1>Your profile is complete. Let's swipe !</h1>
		</div>

	</form>

	<div class="button-group">
		<button class="custom-button cancel-button" (click)="onSwitchPreviousModeClick()"
			*ngIf="firstFillingProfileMode > FirstFillingProfileMode.INTRO">
			Previous
		</button>
		<button class="custom-button submit-button" (click)="onSwitchNextModeClick()"
			*ngIf="firstFillingProfileMode < FirstFillingProfileMode.END" [disabled]="!canGoNext()">
			Next
		</button>
		<button class="custom-button submit-button" (click)="onSubmit()"
			*ngIf="firstFillingProfileMode === FirstFillingProfileMode.END">
			Submit
		</button>
	</div>

</div>