.navigation-element-container {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 1vw;
	color: #8F90AD;
	margin-bottom: 15px;
	height: 35px;
	padding-left: 12px;
	padding-top: 4px;
	border-radius: 10px;
	cursor: pointer;
}

.navigation-element-container-current {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 1vw;
	color: var(--primary-text-color);
	margin-bottom: 15px;
	height: 35px;
	background-color: var(--background-color);
	padding-left: 12px;
	padding-top: 4px;
	border-radius: 10px;
	cursor: pointer;
}

.navigation-element-icon-color-purple {
	color: var(--primary-color);;
}

.navigation-element-text {
	margin-bottom: 0px;
	font-size: 12px;
}

.navigation-element-icon {
	font-size: 20px;
}