<div class="date-planner-header-container">

	<div mwlCalendarPreviousView 
		[view]="view"
		[(viewDate)]="viewDate"
		(viewDateChange)="viewDateChange.next(viewDate)"
		class="date-change-item"
		(click)="getEvents()"
		>
		<mat-icon>keyboard_arrow_left</mat-icon>
	</div>

	<div>
		<h3>{{ viewDate | date:'EEEE, MMMM dd' }}{{ getDaySuffix(viewDate.getDate()) }}{{ viewDate | date:' YYYY' }}</h3>
		<div class="date-view-container">
			<div (click)="viewChange.emit(CalendarView.Month)"
				[class.active]="view === CalendarView.Month"
				class="date-view-item"
				(click)="getEvents()"
				>
				Month
			</div>
			<div (click)="viewChange.emit(CalendarView.Week)"
				[class.active]="view === CalendarView.Week"
				class="date-view-item"
				(click)="getEvents()"
				>
				Week
			</div>
			<div (click)="viewChange.emit(CalendarView.Day)"
				[class.active]="view === CalendarView.Day"
				class="date-view-item"
				(click)="getEvents()"
				>
				Day
			</div>
		</div>
	</div>
	
	<div mwlCalendarNextView
		[view]="view"
		[(viewDate)]="viewDate"
		(viewDateChange)="viewDateChange.next(viewDate)"
		class="date-change-item"
		(click)="getEvents()"
		>
		<mat-icon>keyboard_arrow_right</mat-icon>
	</div>

</div>